# Dependencies
/node_modules
/frontend/node_modules

# Build artifacts
/frontend/build
/dist
/out

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor directories
.vscode/
.idea/

# Test results
/coverage
/test-results/

# OS-specific files
.DS_Store
Thumbs.db

# Secrets
carewurx-firebase-adminsdk-fbsvc-e7fcc4b08e.json
serviceAccountKey.json
scripts/serviceAccountKey.json

# Ignore the old frontend directory as it's been archived
/app/
